.hello {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  min-height: 100vh;
}

.hello::before {
  content: '';
  display: block;
  background: url('../../assets/undraw_in_the_office_re_jtgc.svg') no-repeat
    center center;
  background-size: contain;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: var(--color-bg);
}

.submits {
  width: 100%;
  margin-top: 2rem;
  padding: 0 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.submits a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  color: var(--color-bg);
  min-width: 9rem;
}

.submits a svg {
  margin-right: 0.4rem;
}

@media (max-width: 40rem) {
  .hello {
    grid-template-columns: 1fr;
  }

  .submits {
    padding: 0 auto;
  }
}
