.hello {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  min-height: 100vh;
}

.hello::before {
  content: '';
  display: block;
  background: url('../../assets/programming.svg') no-repeat center center;
  background-size: contain;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: #eee;
}

.submits {
  width: 100%;
  margin-top: 2rem;
  padding: 0 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.submits button {
  margin: 1rem;
}

button {
  font-size: 1rem;
  font-family: var(--type-first);
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background: #575a89;
  color: #eee;
  min-width: 8rem;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  transition: 0.1s;
}

button:hover,
button:focus {
  outline: none;
  background: #6c63ff;
  color: white;
  box-shadow: 0 0 0 3px #575a89, 0 0 0 4px darkslateblue;
}

button:disabled {
  opacity: 0.5;
  cursor: wait;
}

@media (max-width: 40rem) {
  .hello {
    grid-template-columns: 1fr;
  }

  .submits {
    padding: 0 auto;
  }
}
