.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  min-height: 100vh;
}

.login::before {
  content: '';
  display: block;
  background: url('../../assets/programming.svg') no-repeat center center;
  background-size: contain;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  font-size: 1.2rem;
  background-color: #eee;
}

.form {
  background-color: white;
  border-radius: 1rem;
  padding: 0 2rem;
  padding-top: 1rem;
  min-width: 80%;
}

h1 {
  text-align: center;
}

.perdeu {
  display: inline-block;
  padding: 0.5rem 0;
  text-decoration: underline solid;
  line-height: 1;
}

.perdeu:hover {
  color: #6c63ff;
}

.subtitle {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 2rem;
}

.cadastro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.cadastro p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cadastrar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cadastrar a {
  color: #eee;
  text-align: center;
}

@media (max-width: 50rem) {
  .login {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .login::before {
    display: none;
  }

  .form {
    width: 100%;
    border-radius: 0.2rem;
  }

  .cadastro {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .cadastrar {
    align-items: flex-start;
  }
}
