.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.addCompany {
  display: grid;
  grid-template-columns: 1;
  background-color: var(--color-form);
  padding: 1rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 0 3px var(--color-bg), 0 0 0 4px gray;
  overflow: auto;
  transition: 0.1s;
}

.btnClose {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.close {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: red;
  font-size: 1.8rem;
  cursor: pointer;
}

.close p {
  font-size: 1rem;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 1rem;
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 40rem) {
  .inputs {
    grid-template-columns: 1fr;
  }
  .close p {
    display: none;
  }
  .addCompany {
    height: auto;
    overflow-y: auto;
  }
}
