.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  padding: 1rem;
}

.ActionBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
  background: var(--color-second);
  color: #eee;
  min-width: 4rem;
  margin: 0.5rem;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  transition: 0.1s;
}

.ActionBtn:hover,
.ActionBtn:focus {
  outline: none;
  color: white;
  box-shadow: 0 0 0 3px #6c63ff, 0 0 0 4px darkslateblue;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  border-radius: 0.2rem;
  margin: 0 1rem;
}

.company {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.2rem;
  transition: 0.1s;
}

.company:hover {
  cursor: pointer;
  outline: none;
  background-color: white;
  box-shadow: 0 0 0 3px #6c63ff, 0 0 0 4px darkslateblue;
}

@media (max-width: 40rem) {
  .container {
    grid-template-columns: 1fr;
  }
  .filter {
    grid-template-columns: 1fr;
  }
}
