.footer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background: var(--color-third);
  height: 8rem;
  text-align: center;
  color: var(--color-bg);
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li {
  margin: 0 1rem;
}

.social a svg {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--color-bg);
}
