@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&family=Source+Sans+Pro&display=swap');

* {
  /* Ira adicionar a soma de pading e margin nos valores de Width e height */
  box-sizing: border-box;
}

body {
  padding-top: 0rem;
  margin: 0px;
  color: #333;
  --type-third: 'Open Sans', sans-serif;
  --type-first: 'Raleway', sans-serif;
  --type-second: 'Source Sans Pro', sans-serif;
  --color-first: #ff6363;
  --color-second: #ec3d3d;
  --color-third: #c92f2f;
  --color-bg: #eee;
  --color-form: white;
  --color-shadow: #ff6363;
  --color-border: #ec3d3d;
  --color-label: #eee;
  --color-four: #3f3d56
  font-family: var(--type-first);
}

h1 {
  font-family: var(--type-first);
  margin: 0px;
}

h2,
h3,
label,
p {
  font-family: var(--type-second);
  /* word-break: break-all; */
  margin: 0px;
}

h4,
h5 {
  font-family: var(--type-second);
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}

button {
  color: #eee;
}

a {
  text-decoration: none;
  color: #333;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 8rem);
}

.main {
  flex: 1;
}

.title {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}
