.wrapper {
  margin: 0.5rem;
}

.select {
  border: 1px solid var(--color-bg);
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.2rem;
  background: var(--color-bg);
  transition: 0.2s;
}

.select:hover,
.select:focus {
  outline: none;
  border-color: var(--color-first);
  background: var(--color-form);
  box-shadow: 0 0 0 3px var(--color-second);
}
